name: default

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [ '7.2', '7.3', '7.4', '8.0' ]
        laravel-version: [ '5.7.*', '5.8.*', '^6.0', '^7.0', '^8.0' ]
        exclude:
          - php-version: '7.2'
            laravel-version: '^8.0'
          - php-version: '7.4'
            laravel-version: '5.7.*'
          - php-version: '8.0'
            laravel-version: '5.7.*'
          - php-version: '8.0'
            laravel-version: '5.8.*'

    name: Tests on PHP ${{ matrix.php-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php-version }}-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Install laravel/legacy-factories only for Laravel 8.0
        if: matrix.laravel-version == '^8.0'
        run: composer require "laravel/legacy-factories" --prefer-dist --no-progress --no-suggest

      - name: Run test suite
        run: vendor/bin/phpunit --verbose